{% comment %}Department contact footer. Values come from site configuration.{% endcomment %}
<section class="center-footer" aria-label="Center contact information">
  <div class="center-footer-inner">
    <div><strong>{{ site.name }}</strong><p>Department of Geography &amp; Environmental Studies<br>University of New Mexico</p></div>
    <div><a href="mailto:{{ site.email }}">{{ site.email }}</a><br><a href="https://www.instagram.com/nmcommunitygeog/">Instagram: @NMcommunitygeog</a><br><a href="{{ '/about/contact-us.html' | relative_url }}">Contact us</a></div>
  </div>
</section>
